* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(46, 54, 83);
  overflow: hidden;
}

.slot {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  z-index: 10;
}

.slot-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.arm {
  cursor: pointer;
  height: 300px;
  width: 700px;
  position: absolute;
  top: 0;
  z-index: 12;
}

.rolls {
  position: relative;
  width: 340px;
  height: 130px;
  top: 110px;
  left: 120px;
  z-index: -1;

  overflow: hidden;
}

.roll {
  z-index: -1;
  display: inline-block;
  width: 105px;
  height: 130px;
  position: absolute;
}

#roll-0 {
  left: 0;
  background-image: url("/src/roll.png");
}

#roll-1 {
  left: 120px;
  background-position-y: 140px;
  background-image: url("/src/roll.png");
}

#roll-2 {
  left: 236px;
  background-position-y: 280px;
  background-image: url("/src/roll.png");
}

.arm-0 {
  background-image: url("/src/arm/0.png");
}

.arm-1 {
  background-image: url("/src/arm/1.png");
}

.arm-2 {
  background-image: url("/src/arm/2.png");
}

.title {
  animation: neonAnim 4s alternate-reverse infinite;
  font-size: 72px;
  margin-bottom: 60px;
}

@keyframes neonAnim {
  from {
    color: #c44569;
    text-shadow: 0 0 15px rgba(196, 69, 105, 0.7),
      0 0 45px rgba(196, 69, 105, 0.7), 0 0 105px rgba(196, 69, 105, 0.7);
  }
  to {
    color: rgba(241, 246, 101);

    text-shadow: 0 0 10px rgba(241, 246, 101, 0.7),
      0 0 25px rgba(241, 246, 101, 0.7), 0 0 65px rgba(241, 246, 101, 0.7);
  }
}

.balance {
  color: #f5cd79;
  font-size: 56px;
  margin-top: 20px;
}

#balance {
  color: #2ed573;
}

#start {
  display: none;
}

.alert {
  display: none;
  position: absolute;
  font-size: 36px;
  font-weight: 600;
  right: 50px;
}

#reward {
  color: #2ed573;
}

#expense {
  color: #c44569;
}

.sidemenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 100%;
  padding: 0 20px;

  transition: all 0.2s linear;
}

.sidemenu.closed {
  transform: translate(-23vw);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name {
  left: 50px;
  bottom: 100px;

  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

#name:focus {
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.7);
}

label {
  font-size: 1.25rem;
  color: #fff;
}

.arrow {
  color: #fff;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  position: absolute;
  right: -30px;

  cursor: pointer;
}

.btn {
  margin-top: 15px;
  border: 1px solid #f5cd79;
  padding: 15px;
  border-radius: 15px;

  /* display: flex;s */
  flex-direction: column;
  gap: 10px;

  display: none;
}

button {
  padding: 5px 15px;
  border-radius: 15px;
  color: black;
  outline: none;
  border: 1px solid transparent;
  background-color: #f5cd79;
}

button:hover {
  box-shadow: 0px 0px 4px 2px #f5cd79;
}
